{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block body %}
<style>
  body{
    background: linear-gradient(to right, #0062E6, #33AEFF);
  }
  .navbar{
    display: none;
  }
  .arrow-leftt{
    display: flex;
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
    background-color: #0062E6;
    color: aliceblue;
    height: 25px;
    width: 25px;
    padding: 5px;
    border-radius: 50%;
  }
  .arrow-leftt:hover{
    color: aliceblue;
    text-decoration: none;
  }
</style>
  <main class="mt-5 pt-4">
   <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5" style="width: 80%; margin: 0 auto;">
          <a class="arrow-leftt" href="{% url 'product:product_list' %}"><i class="fa-sharp fa-solid fa-arrow-left"></i></a>
          <div class="card-body p-4 p-sm-5">
            <h5 class="card-title text-center mb-5 fw-light fs-5">Sign In</h5>
            <form method="POST" class="lable-no">
              {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'error' %}
                        <div class="alert alert-danger" role="alert">{{ message }}</div>
                    {% elif message.tags == 'success' %}
                        <div class="alert alert-success" role="alert">{{ message }}</div>
                    {% endif %}
                {% endfor %}
              {% endif %}
              {% csrf_token %}
              <div class="form-floating mb-3">
                <input name="email" type="email" class="form-control" id="floatingInput" placeholder="Enter Email">
              </div>
              <div class="form-floating mb-3">
                <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
              </div>

              <!-- <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck">
                <label class="form-check-label" for="rememberPasswordCheck">
                  Remember password
                </label>
              </div> -->
              <div class="d-grid">
                <button class="btn btn btn-outline-success-modify  btn-login text-uppercase fw-bold" type="submit">Sign
                  in</button>
              </div>
              <div>
                <h5 style="display: contents;font-size:13px;" class="card-title text-center mb-5 fw-light fs-5">Creat new  account<a class="nav-link " style="display: inline-flex;" href="{% url 'accounts:signup' %}">Sign Up</span></a></h5>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  </main>
{% endblock body %}
